Library/PackageCache/com.unity.mobile.notifications@1.3.2/Samples~/NotificationsSamples/Scripts/Android/Plugins/com/unity/androidnotifications/AndroidNotificationCenterExtensionsOreo.java.meta
Temp/UnityLockfile